@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BCSans";
  src: url("./fonts/BCSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BCSans";
  src: url("./fonts/BCSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
